Importing Packages and Libraries

In [21]:
#Importing Packages and Libraries

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as stats
import json
from datetime import timedelta

Loading UK Power Network Datasets

In [22]:
#Loading UK Power Network Datasets

energy_d = pd.read_csv(r'/Users/rosaliapujols/Desktop/Dissertation/Code/Dataset-UKDA-7857-csv/csv/data_collection/data_tables/consumption_d.csv')
energy_n = pd.read_csv(r'/Users/rosaliapujols/Desktop/Dissertation/Code/Dataset-UKDA-7857-csv/csv/data_collection/data_tables/consumption_n.csv')

Loading Bank Holidays Dataset

In [23]:
#Loading Bank Holidays Dataset

file_paths = [
    '/Users/rosaliapujols/Desktop/Dissertation/Code/bank_holidays/bank_holidays_2011_england-and-wales.json',
    '/Users/rosaliapujols/Desktop/Dissertation/Code/bank_holidays/bank_holidays_2012_england-and-wales.json',
    '/Users/rosaliapujols/Desktop/Dissertation/Code/bank_holidays/bank_holidays_2013_england-and-wales.json',
    '/Users/rosaliapujols/Desktop/Dissertation/Code/bank_holidays/bank_holidays_2014_england-and-wales.json'
]

dataframes_list = []

for file_path in file_paths:
    with open(file_path, 'r') as json_file:
        json_data = json.load(json_file)
        df = pd.DataFrame(json_data)
        df = df.drop(['notes', 'bunting'], axis=1)
        df['date'] = pd.to_datetime(df['date'], format='%d/%m/%Y')

        dataframes_list.append(df)

bank_holidays = pd.concat(dataframes_list, ignore_index=True)

print(bank_holidays)

                          title       date
0        bank_holidays.new_year 2011-01-03
1     bank_holidays.good_friday 2011-04-22
2   bank_holidays.easter_monday 2011-04-25
3       bank_holidays.early_may 2011-05-02
4          bank_holidays.spring 2011-05-30
5     bank_holidays.late_august 2011-08-29
6      bank_holidays.boxing_day 2011-12-26
7       bank_holidays.christmas 2011-12-27
8        bank_holidays.new_year 2012-01-02
9     bank_holidays.good_friday 2012-04-06
10  bank_holidays.easter_monday 2012-04-09
11      bank_holidays.early_may 2012-05-07
12         bank_holidays.spring 2012-05-28
13    bank_holidays.late_august 2012-08-27
14      bank_holidays.christmas 2012-12-25
15     bank_holidays.boxing_day 2012-12-26
16       bank_holidays.new_year 2013-01-01
17    bank_holidays.good_friday 2013-03-29
18  bank_holidays.easter_monday 2013-04-01
19      bank_holidays.early_may 2013-05-06
20         bank_holidays.spring 2013-05-27
21    bank_holidays.late_august 2013-08-26
22      bank_holidays.christmas 2013-12-25
23     bank_holidays.boxing_day 2013-12-26
24       bank_holidays.new_year 2014-01-01
25    bank_holidays.good_friday 2014-04-18
26  bank_holidays.easter_monday 2014-04-21
27      bank_holidays.early_may 2014-05-05
28         bank_holidays.spring 2014-05-26
29    bank_holidays.late_august 2014-08-25
30      bank_holidays.christmas 2014-12-25
31     bank_holidays.boxing_day 2014-12-26

Convert GMT to Datetime

In [24]:
#Checking GMT time format

print(energy_d['GMT'].dtype)
print(energy_n['GMT'].dtype)

object
object

In [25]:
#Convert GMT to Datetime

energy_d['GMT'] = pd.to_datetime(energy_d['GMT'], format='%Y-%m-%d %H:%M:%S')
energy_n['GMT'] = pd.to_datetime(energy_d['GMT'], format='%Y-%m-%d %H:%M:%S')

In [26]:
#Checking GMT column matches across dataframes

gmt_match = energy_n['GMT'].equals(energy_d['GMT'])
print(gmt_match)

True

In [27]:
energy_n

,GMT,N0000,N0001,N0002,N0003,N0004,N0005,N0006,N0007,N0008,...,N4163,N4164,N4165,N4166,N4167,N4168,N4169,N4170,N4171,N4172
0,2011-11-23 09:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2011-11-23 09:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2011-11-23 10:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2011-11-23 10:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2011-11-23 11:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39722,2014-02-27 22:00:00,0.250,NaN,0.020,0.471,0.422,0.399,0.052,0.102,0.103,...,0.819,0.072,0.110,0.192,0.452,0.122,NaN,0.143,0.063,0.164
39723,2014-02-27 22:30:00,0.141,NaN,0.020,0.150,0.508,0.231,0.079,0.085,0.101,...,0.275,0.015,0.096,0.009,0.294,0.140,NaN,0.158,0.060,0.256
39724,2014-02-27 23:00:00,0.083,NaN,0.043,0.119,0.225,0.016,0.088,0.087,0.121,...,0.233,0.022,0.096,0.319,0.226,0.128,NaN,0.184,0.060,0.132
39725,2014-02-27 23:30:00,0.117,NaN,0.089,0.110,0.215,0.061,0.024,0.067,0.459,...,0.177,0.042,0.081,0.040,0.203,0.136,NaN,0.098,0.056,0.185
39726,2014-02-28 00:00:00,0.115,NaN,0.085,0.094,0.165,0.035,0.024,0.089,0.164,...,0.148,0.007,0.048,0.034,0.161,0.101,NaN,0.087,0.055,0.119

In [28]:
#Checking the same shape for rows accross dataframes

rows_energy_d, columns_energy_d = energy_d.shape
print("Shape of DataFrame 'energy_d':", (rows_energy_d, columns_energy_d))

rows_energy_n, columns_energy_n = energy_n.shape
print("Shape of DataFrame 'energy_n':", (rows_energy_n, columns_energy_n))

Shape of DataFrame 'energy_d': (39727, 1026)
Shape of DataFrame 'energy_n': (39727, 4174)

In [29]:
energy_n['Date'] = energy_n['GMT'].dt.date
energy_n['Time'] = energy_n['GMT'].dt.time

In [30]:
print("Date column type:", energy_n['Date'].dtype)
print("Time column type:", energy_n['Time'].dtype)
print("GMT column type:", energy_n['GMT'].dtype)

Date column type: object
Time column type: object
GMT column type: datetime64[ns]

Adding additional columns

In [31]:
#Adding additional columns to the dataframe pertaining to date and time

def add_additional_columns(df):
    df['Year'] = df['GMT'].dt.year
    df['Month'] = df['GMT'].dt.month
    df['Day'] = df['GMT'].dt.day
    df['Hour'] = df['GMT'].dt.hour
    df['DayOfWeek'] = df['GMT'].dt.dayofweek

    return df

energy_n = add_additional_columns(energy_n)

Keeping last week of 2012 and first day of 2014 for missing values purposes and to aggregate hourly figures later

In [32]:
#Keeping only the data from 2012-12-24 to 2014-01-02 for missing values analysis

energy_n.drop(energy_n[(energy_n['GMT'] < '2012-12-24') | (energy_n['GMT'] > '2014-01-02')].index, inplace=True)

In [33]:
energy_n

,GMT,N0000,N0001,N0002,N0003,N0004,N0005,N0006,N0007,N0008,...,N4170,N4171,N4172,Date,Time,Year,Month,Day,Hour,DayOfWeek
19038,2012-12-24 00:00:00,0.155,0.067,0.048,0.068,0.243,0.083,0.000,0.079,0.071,...,0.063,0.046,0.158,2012-12-24,00:00:00,2012,12,24,0,0
19039,2012-12-24 00:30:00,0.198,0.032,0.047,0.040,0.151,0.076,0.000,0.069,0.081,...,0.078,0.047,0.168,2012-12-24,00:30:00,2012,12,24,0,0
19040,2012-12-24 01:00:00,0.162,0.036,0.044,0.031,0.057,0.087,0.000,0.086,0.088,...,0.062,0.046,0.062,2012-12-24,01:00:00,2012,12,24,1,0
19041,2012-12-24 01:30:00,0.153,0.064,0.015,0.025,0.055,0.063,0.000,0.086,0.098,...,0.041,0.047,0.082,2012-12-24,01:30:00,2012,12,24,1,0
19042,2012-12-24 02:00:00,0.181,0.032,0.014,0.038,0.054,0.099,0.000,0.077,0.061,...,NaN,0.046,0.054,2012-12-24,02:00:00,2012,12,24,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36986,2014-01-01 22:00:00,0.222,0.460,0.020,0.294,0.538,0.597,0.065,0.170,0.073,...,0.114,0.057,0.146,2014-01-01,22:00:00,2014,1,1,22,2
36987,2014-01-01 22:30:00,0.240,0.281,0.020,0.181,0.442,0.318,0.039,0.152,0.079,...,0.190,0.057,0.206,2014-01-01,22:30:00,2014,1,1,22,2
36988,2014-01-01 23:00:00,0.220,0.276,0.039,0.129,0.377,0.211,0.047,0.126,0.098,...,0.105,0.057,0.119,2014-01-01,23:00:00,2014,1,1,23,2
36989,2014-01-01 23:30:00,0.152,0.333,0.056,0.123,0.602,0.171,0.041,0.096,0.091,...,0.116,0.056,0.045,2014-01-01,23:30:00,2014,1,1,23,2
36990,2014-01-02 00:00:00,0.223,0.337,0.053,0.140,0.389,0.042,0.051,0.067,0.091,...,0.062,0.054,0.086,2014-01-02,00:00:00,2014,1,2,0,3

In [34]:
#Printing new shape of dataframe

rows_energy, columns_energy = energy_n.shape
print("Shape of DataFrame 'energy_n':", (rows_energy, columns_energy))

Shape of DataFrame 'energy_n': (17953, 4181)

Merging UK Power Network Dataset with Bank Holiday

In [35]:
#Merging bank holidays dataset with energy dataset

energy_n['Holiday'] = energy_n['Date'].isin(bank_holidays['date'])

/var/folders/r3/_24lfjbj3t1b39xvvn0sx6s00000gn/T/ipykernel_27614/3455190028.py:3: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior. In a future version these will be considered non-comparable. Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  energy_n['Holiday'] = energy_n['Date'].isin(bank_holidays['date'])

In [36]:
energy_n

,GMT,N0000,N0001,N0002,N0003,N0004,N0005,N0006,N0007,N0008,...,N4171,N4172,Date,Time,Year,Month,Day,Hour,DayOfWeek,Holiday
19038,2012-12-24 00:00:00,0.155,0.067,0.048,0.068,0.243,0.083,0.000,0.079,0.071,...,0.046,0.158,2012-12-24,00:00:00,2012,12,24,0,0,False
19039,2012-12-24 00:30:00,0.198,0.032,0.047,0.040,0.151,0.076,0.000,0.069,0.081,...,0.047,0.168,2012-12-24,00:30:00,2012,12,24,0,0,False
19040,2012-12-24 01:00:00,0.162,0.036,0.044,0.031,0.057,0.087,0.000,0.086,0.088,...,0.046,0.062,2012-12-24,01:00:00,2012,12,24,1,0,False
19041,2012-12-24 01:30:00,0.153,0.064,0.015,0.025,0.055,0.063,0.000,0.086,0.098,...,0.047,0.082,2012-12-24,01:30:00,2012,12,24,1,0,False
19042,2012-12-24 02:00:00,0.181,0.032,0.014,0.038,0.054,0.099,0.000,0.077,0.061,...,0.046,0.054,2012-12-24,02:00:00,2012,12,24,2,0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36986,2014-01-01 22:00:00,0.222,0.460,0.020,0.294,0.538,0.597,0.065,0.170,0.073,...,0.057,0.146,2014-01-01,22:00:00,2014,1,1,22,2,False
36987,2014-01-01 22:30:00,0.240,0.281,0.020,0.181,0.442,0.318,0.039,0.152,0.079,...,0.057,0.206,2014-01-01,22:30:00,2014,1,1,22,2,False
36988,2014-01-01 23:00:00,0.220,0.276,0.039,0.129,0.377,0.211,0.047,0.126,0.098,...,0.057,0.119,2014-01-01,23:00:00,2014,1,1,23,2,False
36989,2014-01-01 23:30:00,0.152,0.333,0.056,0.123,0.602,0.171,0.041,0.096,0.091,...,0.056,0.045,2014-01-01,23:30:00,2014,1,1,23,2,False
36990,2014-01-02 00:00:00,0.223,0.337,0.053,0.140,0.389,0.042,0.051,0.067,0.091,...,0.054,0.086,2014-01-02,00:00:00,2014,1,2,0,3,False

Dealing with missing values

In [37]:
#Checking for missing values

has_missing_values_2013 = energy_n[energy_n['Year'] == 2013].isnull().any().any()
has_missing_values_2014 = energy_n[energy_n['Year'] == 2014].isnull().any().any()

print("Has missing values in 2013:", has_missing_values_2013)
print("Has missing values in 2014:", has_missing_values_2014)

Has missing values in 2013: True
Has missing values in 2014: True

In [38]:
#Printing missing values count per household

energy_n_2013 = energy_n[energy_n['Year'] == 2013]
missing_values_per_household = energy_n_2013.isnull().sum()
missing_values_df = pd.DataFrame({'Household': energy_n_2013.columns, 'Missing Values Count': missing_values_per_household})
print(missing_values_df)

           Household  Missing Values Count
GMT              GMT                     0
N0000          N0000                     0
N0001          N0001                     2
N0002          N0002                     0
N0003          N0003                     0
...              ...                   ...
Month          Month                     0
Day              Day                     0
Hour            Hour                     0
DayOfWeek  DayOfWeek                     0
Holiday      Holiday                     0

[4182 rows x 2 columns]

In [39]:
#Checking number of households with missing values

households_with_missing_values = energy_n_2013.isnull().any().sum()
print("Number of households with missing values in 2013:", households_with_missing_values)

Number of households with missing values in 2013: 3346

Calculating total missing data points, total data points and % of missing values

In [40]:
#Calculating total number of missing values in 2013 and its percentage

total_missing_values_2013 = energy_n_2013.isnull().sum().sum()

total_data_points_2013 = energy_n_2013.size

percentage_missing = (total_missing_values_2013 / total_data_points_2013) * 100

print(f"Total number of missing values in 2013: {total_missing_values_2013}")
print(f"Total data points in 2013: {total_data_points_2013}")
print(f"Percentage of missing values in 2013: {percentage_missing:.2f}%")

Total number of missing values in 2013: 2825332
Total data points in 2013: 73268640
Percentage of missing values in 2013: 3.86%

Function creation to fill in missing values according to the previous hour, same hour of previous day and same hour of the week prior

In [41]:
#Function to fill missing values for each household

import numpy as np

# Function to fill missing values for each household
def fill_missing_values(column):
    for idx, value in column.items():
        if pd.notna(value):  
            continue

        # Timestamp of the current row
        timestamp = energy_n.at[idx, 'GMT']

        # Timestamp for the previous hour
        previous_hour = timestamp - pd.Timedelta(hours=1)
        previous_hour_value = energy_n.loc[energy_n['GMT'] == previous_hour, column.name]
        previous_hour_valid_count = previous_hour_value.count()
        previous_hour_value = previous_hour_value.sum()

        # Timestamp for the same time on the previous day
        previous_day = timestamp - pd.Timedelta(days=1)
        previous_day_value = energy_n.loc[energy_n['GMT'] == previous_day, column.name]
        previous_day_valid_count = previous_day_value.count()
        previous_day_value = previous_day_value.sum()

        # Timestamp for the same time on the same day of the previous week
        previous_week = timestamp - pd.Timedelta(weeks=1)
        previous_week_value = energy_n.loc[energy_n['GMT'] == previous_week, column.name]
        previous_week_valid_count = previous_week_value.count()
        previous_week_value = previous_week_value.sum()

        # Mean considering the number of valid values
        total_valid_count = previous_hour_valid_count + previous_day_valid_count + previous_week_valid_count
        if total_valid_count > 0:
            filled_value = (previous_hour_value + previous_day_value + previous_week_value) / total_valid_count
        else:
            filled_value = 0

        energy_n.at[idx, column.name] = filled_value

for column in energy_n.columns[1:4173]: 
    fill_missing_values(energy_n[column])

Confirming there are no missing values remaining

In [42]:
#Confirming missing values have been filled

has_missing_values_2013 = energy_n[energy_n['Year'] == 2013].isnull().any().any()
has_missing_values_2014 = energy_n[energy_n['Year'] == 2014].isnull().any().any()

print("Has missing values in 2013:", has_missing_values_2013)
print("Has missing values in 2014:", has_missing_values_2014)

Has missing values in 2013: False
Has missing values in 2014: False

Converting cleaned dataframe to csv

In [43]:
#Converting cleaned "N" dataframe to csv

energy_n.to_csv('new_energy_n.csv', index=False)